body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.item {
  background-color: lightgrey;
}
.item.item__selected {
  background-color: red;
  color: white;
}
.item.item__hovered {
  border: 2px solid lightblue;
}
.item.item__focused {
  border: 2px solid lightgreen;
}
